<body id="fourth">
<p>
  <strong>Bread:</strong>
  <%= @hoagie.bread %>
</p>
 
<p>
  <strong>Ingredients:</strong>
  <%= @hoagie.ingredients %>
</p>

<p>
  <strong>Size:</strong>
  <%= @hoagie.size %>
</p>


<h2>Comments</h2>
<% @hoagie.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @hoagie, @hoagie.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

      <%= link_to 'Edit', edit_hoagy_path(@hoagie) %>
<%= link_to 'Back', hoagies_path %>
</body>