<p id="notice"><%= notice %></p>

<h1>Sauces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sauces.each do |sauce| %>
      <tr>
        <td><%= sauce.name %></td>
        <td><%= link_to 'Show', sauce %></td>
        <td><%= link_to 'Edit', edit_sauce_path(sauce) %></td>
        <td><%= link_to 'Destroy', sauce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sauce', new_sauce_path %>
